.logo {
    height: 19rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background {
    background-color: white;
}

@media (max-width: 1024px) {
    .logo {
        height: 14rem;
    }
}

@media (max-width: 768px) {
    .logo {
        height: 12rem;
    }
}

/* @media (max-width: 475px) {
    .logo {
        height: 8rem;
        display: none;
    }
} */

@media (max-height: 700px) {
    .logo {
        height: 8rem;
        display: none;
    }
}
