.logo {
    height: 19rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px) {
    .logo {
        height: 14rem;
    }
}

@media (max-width: 768px) {
    .logo {
        height: 12rem;
    }
}

@media (max-height: 1150px) {
    .logo {
        height: 22rem;
        margin-top: 3rem;
    }
}
