# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# infra-statistics
src/data/infra-statistics
public/plugin-installation-trend
public/jenkins-stats
public/pluginversions

# bundle analyzer
bundle-analysis.html
