.bar {
  width: 100%;
  height: 4.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.name {
  font-size: 2.5vh;
  font-weight: bold;
  padding: 2vh;
}

@media (max-width: 768px) {
  .bar {
    height: 6vh;
  }
  .name {
    font-size: 2vh; /* Ensure font size is responsive */
    padding: 0.3vh;
  }
}
